.world-container{
    margin: 2rem;
    .search-container{
        margin: 2rem 0;
        input:focus{
            outline: none;
        }
    }
    .search-label{
        font-size: 1.2rem;
    }
    .search-field{
        height: 2rem;
        width: 20rem;
        border: none;
        border-bottom: 1px solid black;
    }
}