.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-rows: 4rem;
    justify-content: center;
    background-color: black;
    div {
        margin-left: 1rem;
        padding: 1rem;
        padding-top: 1.5rem;
    }
    a {
          text-decoration: none;
            text-transform: uppercase;
            color: white;
      }
a:active{
    color: white;
}
a:visited{
  color: white;
}
}