body {
  margin: 0;
  font-family: sans-serif;
  th{
    // background-color: silver;
  }
  .not-official-sign{
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem;
  }
      a {
  text-decoration: none;
  color: red;
  
}
a:active{
    color: red;
}
a:visited{
  color: red;
}
}
